</div>
<div class="container">
 <div id="welcome-greeting">

   <h1>Hi!</h1>

   <h2>I am Alexandre di Costanzo and I work at <a href="http://www.docapost-bpo.com">Docapost BPO</a> (owned by <a href="http://www.laposte.fr/">La Poste</a>, French postal service). I m currently the <strong>Technical Project Manager</strong> of <a href="http://www.proveance.com
">Proveance</a>
   </h2>

   <h2>
Before, I was Research Fellow under Associate Professor <a href="http://www.buyya.com
">Rajkumar Buyya</a> in the <a href="http://www.cloudbus.org/
">Grid Computing and Distributed Systems</a> (GRIDS) Laboratory, in the <a href="http://www.csse.unimelb.edu.au/
">Department of Computer Science and Software Engineering</a> at the <a href="http://www.unimelb.edu.au/
">University of Melbourne</a>, Australia.
  </h2>

  <h2>
Prior, I had a position as  software engineer in <a href="http://www-sop.inria.fr/
">INRIA</a> Sophia laboratory, located on the French Riviera. In 2007, I obtained a PhD degree in computer science from the <a href="http://www.unice.fr/
">University of Nice Sophia Antipolis</a>, France, the thesis was supervised by Pr. <a href="http://www-sop.inria.fr/oasis/Denis.Caromel/
">Denis Caromel</a>.</h2> <hr />


      </div>
  </div>

  <div class ="container">
